<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>beechat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5F109281D66BF2000898DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F1093C1D66BF2000898DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F109471D66BF2000898DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
